<div class="center">
      <h1>Cofee Details</h1>         
            <a href=""  class="btn btn-primary btn">Back</a>
     
    <div>
        <strong>ID:</strong>
        <p class="item">{{ cofee.id }}</p>
    </div>
   
    <div>
        <strong>GUID:</strong>
        <p class="item">{{ cofee.uid }}</p>
    </div>
   
    <div>
        <strong>Blend Name:</strong>
        <p class="item">{{ cofee.blend_name }}</p>
    </div>

    <div>
        <strong>Origin:</strong>
        <p class="item">{{ cofee.origin }}</p>
    </div>

    <div>
        <strong>Variety:</strong>
        <p class="item">{{ cofee.variety }}</p>
    </div>

    <div>
        <strong>Notes:</strong>
        <p class="item">{{ cofee.notes }}</p>
    </div>

    <div>
        <strong>intensifier:</strong>
        <p class="item">{{ cofee.intensifier }}</p>
    </div>
</div>
   


